@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'ELAND_Choice_M';
    font-weight: normal;
    border-style: none;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-user-select: none; 
	-moz-user-select: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none; 
    -webkit-touch-callout:none;
}

div {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
div::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

Image{
    -webkit-tap-highlight-color:transparent;
}

a{
    -webkit-tap-highlight-color:transparent;
}

img{
    -webkit-tap-highlight-color:transparent;
}

input:focus {
    outline: none;
    -webkit-tap-highlight-color : transparent;
}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #D3D3D3 inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }
button:focus {outline: none;}

.start-text {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 100%;
	transform: translate( -50%, -50% );
    text-align:center;
}
